<% @account = order.account %>

	<li class="list-group-item info-group">
		<div class="info">
			<h2>Order #<%= order.id %></h2>
			<span><b>Recipient:</b> <%= @account.institution_name %></span>
			<span><b>Contact Name:</b> <%= @account.contact_first_name %> <%= @account.contact_last_name %></span>
			<span><b>Phone Number:</b> <%= @account.phone_number %></span>
			<span><b>Face Shields:</b> <%= order.num_shields %></span>
			<span><b>Mask Adjusters:</b> <%= order.num_adjusters %></span>
		</div>
	</li>