
<div class="card account-info">
	<h1 class="card-header">Account Information</h1>
	<span class="glyphicon glyphicon-pencil"></span>
	<ul class="list-group">
		<li class="list-group-item">
			<h2>Login</h2>
			<span>Email:</span>
			<%= @account.user.email %>
			<br>
		</li>
		<li class="list-group-item">
			<h2>Institution</h2>
			<span>Name:</span>
			<%= @account.institution_name %>
			<br>
			<span>Type:</span>
			<%= @account.institution_type %>
		</li>
		<li class="list-group-item">
			<h2>Contact</h2>
			<span>Name:</span>
			<%= @account.contact_first_name %>
			<%= @account.contact_last_name %>
			<br>
			<span>Phone:</span>
			<%= @account.phone_number %>
		</li>
		<li class="list-group-item">
			<h2><%= pluralize_address(@account.addresses.count, "Address") %></h2>
			<ul class="list-group">
				<% @account.addresses.each do |address| %>
				  <li class="list-group-item">
				  	<span>Street Address:</span>
				    <%= address.street_address %>
				    <br>
				    <span>City:</span>
				    <%= address.city %>
				    <br>
				    <span>State:</span>
				    <%= address.state %>
				    <br>
				    <span>Zip Code:</span>
				    <%= address.zipcode %>	
				  </li>
				<% end %>
			</ul>
		</li>
	</ul>
</div>